.blockEditor {
  position: absolute;
  transform: translate(0, calc(-100% - 5px));
  user-select: none;
}

.blockCon {
  display: flex;
  align-items: stretch;
  justify-content: right;

  button {
    min-width: 2em;
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }
}

.inlineCon {
  button {
    min-width: 2em;
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }

  input[type="checkbox"] {
    display: none;
    + label {
      display: inline-block;
      vertical-align: bottom;
      font-size: 0.85em;
      padding: 0.1em 0.3em;
      line-height: 1.2;
      border: outset;
      border-radius: 2px;
      text-align: center;
      min-width: 2em;
      background: whitesmoke;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }

    &:checked {
      + label {
        border: inset;
      }
    }
  }
}

.itemBtn {
  display: block;
  min-width: 2em;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}

.selectForm {
  width: 350px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5px;

  button {
    position: unset !important;
    width: unset;
    flex: 1 8em;
    cursor: pointer;
  }
}

.blockController {
  display: flex;
  align-items: stretch;

  button {
    cursor: pointer;
    &.meta {
      border: none;
      font-weight: bold;
      color: red;
      background: rgba($color: white, $alpha: 0.6);
      &::after {
        content: " : ";
      }
    }

    button{
      min-width: 3em;
    }
  }
}
