@import "../../layout";

header {
  width: 100%;
  z-index: 1;
  height: $header_height;

  button {
    &:hover {
      cursor: pointer;
    }
  }

  .inner {
    position: fixed;
    width: 100% !important;
    height: $header_height;

    top: 0;
    z-index: 1;
    background: white;
    border-bottom: solid 1px $border_col;

    display: flex;
    align-items: stretch;

    .title {
      width: 100%;
      text-align: center;

      h1 {
        font-size: 1em;
        margin: 0;
      }
    }
  }
}

.history {
  display: flex;
  align-items: stretch;
}

.dropButton {
  height: 100%;
}

.formStyleSheet {
  @include droptBackGround;

  .origins > label {
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 0;
    user-select: none;
    list-style-type: none;

    li {
      white-space: nowrap;
      input {
        vertical-align: middle;

        cursor: pointer;
      }
      label {
        cursor: pointer;
      }

      > *:not(:last-child) {
        margin-right: $default_space;
      }
    }
  }
}

.articleTitle {
  width: 100%;
  padding: 0 $default_space;
  input {
    width: 100%;
    text-align: center;
    border: none;
    font-weight: bold;
    padding: 0.2em;
    font-size: 1em;

    &:focus {
      outline: 0;
      border: solid 1px lightgray;
    }
  }
}
