@import "../../layout";

$item_height: 1.5rem;

.blockEditor {
  position: absolute;
  transform: translate(0, calc(-100% - 5px));
  user-select: none;
}

.moveCon {
  display: flex;
  align-items: stretch;
  justify-content: left;
  height: $item_height;
}

.blockCon {
  display: flex;
  align-items: stretch;
  justify-content: left;
  height: $item_height;

  .tag {
    min-width: 2.5em;
    text-align: center;
    background-color: $block_col;
    border: solid 1px $border_col;
    border-radius: 3px;
    padding: 0 0.3em;
    &::after {
      content: " : ";
    }
  }

  button {
    min-width: 2em;
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }
}

.inlineCon {
  display: flex;
  height: $item_height;
  align-items: stretch;
  justify-content: left;

  .tag {
    min-width: 2.5em;
    text-align: center;
    background-color: $inline_col;
    border: solid 1px $border_col;
    border-radius: 3px;
    padding: 0 0.3em;
    &::after {
      content: " : ";
    }
  }

  button {
    min-width: 2em;
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }

  // input[type="checkbox"] {
  //   display: none;
  //   + label {
  //     display: inline-block;
  //     vertical-align: bottom;
  //     font-size: 0.85em;
  //     padding: 0.1em 0.3em;
  //     line-height: 1.2;
  //     border: outset;
  //     border-radius: 2px;
  //     text-align: center;
  //     min-width: 2em;
  //     background: whitesmoke;
  //     cursor: pointer;
  //     &:hover {
  //       color: black;
  //     }
  //   }

  //   &:checked {
  //     + label {
  //       border: inset;
  //     }
  //   }
  // }
}

.rangeCon > div {
  display: flex;
  height: $item_height;
  align-items: stretch;
  justify-content: left;

  input[type="checkbox"] {
    display: none;
    + label {
      display: inline-block;
      vertical-align: bottom;
      font-size: 0.85em;
      padding: 0.1em 0.3em;
      line-height: 1.2;
      border: outset;
      border-radius: 2px;
      text-align: center;
      min-width: 2em;
      background: whitesmoke;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }

    &:checked {
      + label {
        border: inset;
      }
    }
  }

  .selectInline {
    @include droptBackGround;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: $default_space;
    div {
      flex-grow: 0.3;
      label {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-transform: lowercase;
      }
    }
  }
}

.itemBtn {
  display: flex;
  align-items: center;
  min-width: 2em;
  height: $item_height;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}

.selectForm {
  @include droptBackGround;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;

  button {
    flex-grow: 0.2;
    position: unset !important;
    text-transform: lowercase;
    cursor: pointer;
  }
}
