@import "../../../layout";

.attrForm {
  .wrapItem {
    display: flex;
    justify-content: space-around;
    width: 100%;

    input {
      width: 45%;
    }
  }
}

.formAttrs,
.formStyle {
  .wi {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 2px;

    input {
      width: 50%;
    }
  }
}

.formClass {
  .labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2px;
    label {
      border-radius: 0.3em;
      padding: 0 0.3em;
      word-break: break-all;
      border: solid 1px lightgray;

      button {
        background: none;
        border: none;
        vertical-align: bottom;
        cursor: pointer;
      }
    }
  }
  .new {
    padding: 2px;
    display: flex;
    input[type="text"] {
      width: 100%;
    }
  }
}

.wapTag {
  .tag {
    display: inline-block;
    vertical-align: middle;
    border: solid 1px $border_col;
    font-size: 1em;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    line-height: 1;
    text-decoration: none;

    &.inline {
      background: magenta;
    }

    &.block {
      background: cyan;
    }
  }

  button {
    font-size: 0.8em !important;
    cursor: pointer;
    & + div::before {
      content: "┗";
    }
  }

  .targetLabel {
    display: flex;

    span {
      &::before {
        content: ": ";
      }
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
