.App {
}

.containerFlex {
  display: flex;

  .containerEdit {
    position: relative;
    padding: 10px !important;
    border: solid 1px gray;
    flex: 1 calc(100% - 400px);

    [contenteditable] {
      outline: none;
      // border-top: dashed 1px orangered;
      // border-bottom: dashed 1px orangered;
      background-color: whitesmoke;
      min-height: 1em;
    }

    article {
      margin: 0 !important;
    }
  }
}
